<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DownMenuDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>122B164E1D376B33002ACACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>122B16671D376B39002ACACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>122B16721D376B39002ACACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
